// bower:scss
// endbower

.logo {
  width: 90%;
  max-width: 600px;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 3;
  -webkit-transform: rotateZ(-20deg);
  transform: rotateZ(-20deg);
  cursor: pointer;

  svg {
    g {
      path {
        fill: white;
      }

      .squig1, .squig2 {
        stroke-dasharray: 10;
        animation: dash 45s linear;
        animation-iteration-count: infinite;
      }
    }
  }

  &:hover {
    .s{
      stroke-dasharray: 100;
      animation: dash 10s linear;
      animation-iteration-count: infinite;
    }
    .o {
      fill: lightblue;
    }
    .f {
      stroke-dasharray: 100;
      animation: dash 10s linear;
      animation-iteration-count: infinite;
    }
    .t {
      fill: gold;
    }
    .period {
      stroke-dasharray: 100;
      animation: dash 10s linear;
      animation-iteration-count: infinite;
    }
    .p {
      fill: pink;
    }
    .l {
      stroke-dasharray: 100;
      animation: dash 10s linear;
      animation-iteration-count: infinite;
    }
    .a {
      fill: darkorange;
    }
    .c {
      stroke-dasharray: 100;
      animation: dash 10s linear;
      animation-iteration-count: infinite;
    }
    .e {
      fill: indianred;
    }
    .squig2 {
      fill: bisque;
      stroke: burlywood;
    }
    .squig1 {
      fill: paleturquoise;
      stroke: tomato;
    }
  }
}

.info {
  position: relative;
  z-index: 2;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  float: right;
  right: 50px;
  font-size: 50px;
  max-width: 550px;
  margin-top: 100px;

  a {
    color: blue;
  }

  .open {
    position: relative;

    &:before {
      content: 'OPENS';
      position: absolute;
      top: -30px;
      left: -220px;
      transform: rotateZ(30deg);
      -webkit-transform: rotateZ(30deg);
      border: 3px solid black;
      border-radius: 20px;
      padding: 6px 10px;
      background: hotpink;
      color: white;
    }
   } 
}

.social-logo {
  img {
    max-width: 50px;
  }
}

@media (max-width: 900px) {
  .logo {
    position: relative;
    margin: 60px auto 0;
  }

  .info {
    float: none;
    right: 0;
    width: 90%;
    margin: 250px auto 0;

    .open {
      margin-top: 200px;

      &:before {
        left: 5px;
        top: -120px;
      }
    }
  }
}

.animate {
  stroke-dasharray: 100;
  animation: dash 15s linear;
  animation-iteration-count: infinite;
}

.animate2 {
  stroke-dasharray: 10;
  animation: dash 45s linear;
  animation-iteration-count: infinite;
}

.animate3 {
  stroke-dasharray: 80;
  animation: dash 55s linear;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}